body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.header {
    position: fixed;
    top: 0px; /*Garantir que vai ficar sempre no topo da página*/
    width: 100%; /* ponta a ponta */
    background: #fec63e; 
    padding: 15px 0px;/*Não ficar colado no topo nem no bottom  */
    z-index: 10;
}

.btn {
    border:3px solid #FEC63E;
    padding: 10px 30px;
    color:  #FEC63E;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;    
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

.btn.btn-preto:hover{
    color: #000;
    border-color: #000;
}

.produtos {
    padding: 60px 0;
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after{
    content: "";
    display: block;
    width: 60px; 
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.header-menu {
    text-align: right;
}

.header-menu ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.header-menu ul li a {
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    letter-spacing: .1em; /* espaçamento entre as letras */
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;/* para aumentar a área do hover */    
}

.header-menu ul li a:hover {
    color: #FFF;
}
.introducao {
    width: 100%;
    height: 380px;
    text-align: center;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 96px;/* tem que dar uma margem pro conteudo não ficar atrás do menu que está fixed */
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
    content: "";
    display: block;
    width: 60px; 
    height: 3px;
    background: white;
    margin: 14px auto 10px auto;

}
.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

.produtos-lista li {
    background: #FEC63E;
    text-align: center;
}

.produtos-lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.produtos-lista li h3:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.produtos-lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos-icone {
    background: #000;
    padding: 20px;
    text-align: center;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p{
    margin-bottom: 20px;
}

.portfolio {
    width: 100%;
    background: #000;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: #FEC63E;
}

.portfolio .subtitulo:after {
    background: #FEC63E;
} 

.portfolio-lista li:last-child {
    margin-top: 20px;
}

.portfolio .call p{
    color: #FFF;
}